p {
  font-family: Lato;
}
input{
  display: none;
}
 .label {
      
        font-size: x-large;
      

      cursor: pointer;
      margin: auto;
      color: white;
      background-color: rgb(0, 0, 300);
      border-radius: 5px;
      padding: 10px;
    }